.header{
    font-size: 50px;
    background-color: black;
    color: white;
    display:flex;
    justify-content:center;
    height: 150px;
    align-items: center;
    font-weight: bolder;

}
.pandas{
    display:flex;
    justify-content: center;

}
.images{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap:wrap;
    align-items:center;
}
img{
    width:250px;
    height:250px;
    padding:5px;
}